* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-main-bg-color) #f4f4f4;
}

:root {
    --bg-button: #6878d6;
    --bg-hover-button: #ffffff;
    --color-hover-text: #ffffff;
    --color-button-text: #393a56;
    --color-hover-button-text: #393a56;
    --bg-main-bg-color: #A886CD;
    --bg-button-conection: #49E670;
    --width-conection-buttons: 50px;
    --height-conection-buttons: 50px;
    --font-size-text: 20px;
    --font-size-button-small-text: 25px;
    --transtion: all 0.3s ease-in-out !important;
}

body {
    font-family: "Tajawal", serif;
    font-style: normal;
    background-color: #e7e7e70e;
    scroll-behavior: smooth;
}

/* global style for button  */
.button-connection {
    background-color: var(--bg-button-conection) !important;
    color: var(--color-hover-text);
    transition: var(--transtion);
    font-size: 25px;
    width: var(--width-conection-buttons);
    height: var(--height-conection-buttons);
    border-radius: 50% !important;
    z-index: 1;

}
.navbar .button-connection, .container-button-connection .button-connection{
    animation: pulse-animation 1.5s infinite;

}

.button-connection:hover {
    border: solid 1px var(--bg-button-conection);
}
 /* Pulse Effect */
 /* .pulse {
  } */

  @keyframes pulse-animation {
    0% {
        transform: scale(0.9);
        opacity: 0.8;
        box-shadow: 0 0 5px 5px rgba(76, 175, 80, 0.5);
      }
      50% {
        transform: scale(1.01);
        opacity: 1;
        box-shadow: 0 0 5px 5px rgba(76, 175, 80, 0.8);
      }
      100% {
        transform: scale(0.9);
        opacity: 0.8;
        box-shadow: 0 0 5px 5px rgba(76, 175, 80, 0.5);
      }
    /* 0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.745);
    }
    70% {
      box-shadow: 0 0 10px 20px red;
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    } */
  }



.position-fixed{
    z-index: 10;
}
h2 {
    font-size: 40px;
    font-weight: bold;
}
.border-under-bottom {
    width: 60px;
    height: 3px;
    background: var(--bg-main-bg-color);
    margin: auto;
}
.card:hover{
    transform: scale(1.009);
    box-shadow: 0 0 10px var(--bg-main-bg-color);
    transition: var(--transtion);
}
/* change the scroll bar design  */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bg-hover-button);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--bg-main-bg-color);
    border-radius: 5px;
    border: 2px solid #f4f4f4; 
}
::-webkit-scrollbar-corner {
    background: transparent; 
}
/* to show content when scroll  */
.content {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.content.visible {
    opacity: 1;
    transform: translateY(0);
}
/* start navbar */
.nav-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.navbar{
    background:transparent ;
    z-index: 100;
    background-color: var(--bg-hover-button) !important;
}
.navbar .navbar-brand img {
    width: 70px;
    object-fit: cover;
}
:focus-visible {
    outline: none !important;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: var(--color-button-text);
    font-size: 20px;
     display: inline-block;
    border-bottom: 4px solid transparent;
    transition: var(--transtion);
}
.navbar .navbar-nav .nav-item .nav-link:hover{
   
    width: fit-content !important;
    border-bottom: 4px solid var(--bg-main-bg-color);
}
.navbar .navbar-toggler {
    background-color: var(--bg-main-bg-color);
    color: var(--color-hover-text) !important;
    font-size: var(--font-size-button-small-text);
    transition: var(--transtion);
}
/* end navbar */

/* start home section */
.home .content-header{
    /* background-image: url(../images/Your-paragraph-text.jpg); */
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
}
.home .content-header .container-content{
    background-color: #000000ab;
    height: -webkit-fill-available;
}
.home .content-header .intialize-company {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}
.home .content-header .intialize-company .button-conection-with-us {
    width: 150px !important;
    font-size: var(--font-size-text);
    height: 45px;
    background-color: var(--bg-hover-button);
    color: var(--color-button-text);
    transition: var(--transtion);
}
.home .content-header .intialize-company .button-conection-with-us:hover {
    background-color: var(--bg-main-bg-color);
    color: var(--bg-hover-button);
}
.home .container-button-top-connect .button-show-connection,
.home .container-button-top-connect .button-to-top {
    background-color: var(--bg-main-bg-color);
    color: var(--color-hover-text);
    transition: var(--transtion);
    font-size: var(--font-size-text);
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
}

.home .container-button-top-connect .button-to-top{
    left: 0.5% !important;
}
.conettion-buttons{
    width: max-content !important;
}
/* end home section */

/* start service section */
.services .card{
    height: 400px;
    overflow: hidden;
} 
.services .card .card-body .service-title{
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000ba;
    background-color: #fff;
}
    
.services .card img{
    width: 100% !important;
    height:250px !important;
    object-fit: cover;
}
/* end service section */

/* start about section */
.active-content {
    border: 1px solid var(--bg-main-bg-color) !important;
}
.border-bottom-controller{
    border-bottom:1px solid var(--bg-main-bg-color) !important;
    background-color: var(--bg-main-bg-color);
    /* border-start-start-radius: 5px ;*/
    border-top-left-radius: 5px !important; 
    border-top-right-radius: 5px !important; 
    color: #fff !important;
}
.about-content .controllers .controller--container {
    color: var(--bg-main-bg-color);
    border-color: var(--bg-main-bg-color) ;
}
.about-content .controller--container .controller-button {
    background-color: transparent;
    border: none;
}
/* end about section */

/* start providers section */
.providers .card{
    height: 320px;
    overflow: hidden;
}
.providers .card img{
    height:180px; 
    object-fit: contain;
}

/* end providers section */
/* start contact section  */
.contact {
    z-index: 60 !important;
}
/* end contact section  */
/* start footer section  */
footer .author-connection a {
    z-index: 120 !important;
    text-decoration: none;
    color: var(--bg-button) !important;
    font-weight: bold;
}
/* end footer section  */

/* start media query */
@media only screen and (max-width: 767px) {
    /* start navbar  */
    .navbar {
        top: -2px !important;
    }
    /* .navbar .button-connection , .navbar-toggler{
        height: 40px;
        font-size: 20px;
        margin: 10px 0px;
    }    */
    /* start home section   */
    .home .content-header .intialize-company {
        top: 20%;
        transform: translate(-50%, 0%);
    }
    .home .content-header .button-conection-with-us {
        width: max-content !important;
        font-size: var(--font-size-button-small-text);
    }
    .home .container-button-top-connect .button-show-connection,
    .home .container-button-top-connect .button-to-top {
        font-size: 20px ;
    }
    .home .container-button-top-connect .button-show-connection,
    .home .container-button-top-connect .button-to-top {
        bottom: 10% !important;
        position: fixed;
    }
    .conettion-buttons {
        margin-bottom: 200% !important;
    }
}

@media only screen and (min-width: 768px) {
    .conettion-buttons {
        margin-bottom: 15px !important;
    }
    
}

/* end media query */



